<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

  {{#if tickets.length}}
  <div class="col-md-6 project-list">
    <h3>Current Tickets:</h3>

    {{#each tickets as |ticket|}}
    <h2>Production Name: {{ticket.showing.production.title}}</h2>
    <h2>Show Time: {{ticket.showing.time}}</h2>
    <h2>Seat Row: {{ticket.seat.row}}</h2>
    <h2>Seat Number: {{ticket.seat.number}}</h2>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
